#Home {
  padding-top: 80px;  
  background-color: #009999;
  margin-bottom: -10px;
  color: white;
}

#About_Me {
  padding-top: 20px;
  background-color: #ff8c66; 
  margin-bottom: -10px;
  color: white;
}

#Projects {
  background-color: #009999;
  margin-bottom: -20px;
  padding-top: 20px;
  color: white;
}

#Contact {
  background-color: #ff8c66;
  padding-top: 20px;
  color: white;
}

p {
  font-size: 24px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.proj1 {
 padding-left: 10px;
}

proj2 {
  padding-left: 10px;
}

#content {
 text-align: justify;
}

.heading {
  font-weight: bold;
  text-align: center;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.profile {
  border-radius: 50%;
  margin: auto;
}


